<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue !</title>
</head>
<body>
    <h1>Bienvenue dans le bac à sable</h1>
    <p>
        Si vous voyer ce message, cela signifie que votre premier template twig fonctionne<br />
        et bien sur &nbsp;: <q>Hello World 2!</q>
    </p>
</body>
</html>
